/* Style Guide */
/*  Colors: Green #006633 (rgb (0, 102, 51))
            Gold  #FFCC00 (rgb (204, 204, 0))
    Fonts:  Montserrat */

/* Global Styles */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

section:not(#landingSection):not(#sponsorLogoSection) {
  padding-top: 5%;
  padding-bottom: 5%;
}

section:not(#landingSection):not(#sponsorLogoSection)  {
  margin-left: 10%;
  margin-right: 10%;
}

.active-section {
  color: #FFCC00 !important;
}

.sectionTitle {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
}


.button {
  /* Reset Defaults */
  padding: 0;
  /* Apply Styles */
  font-size: 2rem;
  font-family: 'Montserrat';
  text-transform: uppercase;
  border-radius: 8px;
  padding: 10px;
  color: white;
}

.registerButton {
  border: 3px solid #006633;
  background-color: #006633;
}

.sponsorButton {
  border: 3px solid #FFCC00;
  background-color: #FFCC00;
}

input[type="button"]:focus {
  border: none;
  outline: none;
}

input[type=button]:hover {
  background-color: transparent !important;
  transition: transform ease-out 0.2s, background 0.3s;
}

.registerButton:hover {
  border: 3px solid #006633;
  color: #006633;
}

.sponsorButton:hover {
  border: 3px solid #FFCC00;
  color: #FFCC00;
}

ul.horizontalList {
  list-style-type: none;
  float: right;
  margin-top: 3%;
  margin-right: 12%;
}

ul.horizontalList li {
  display: inline-block;
  text-align: right;
  padding: 0px 25px;
  text-transform: uppercase;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #FFCC00;
}

div#divider-one {
  width: 100%;
  height: 50%;
  overflow: hidden;
  background: url('../img/sample1.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  background-attachment: fixed;
}

div#divider-two {
  width: 100%;
  height: 50%;
  overflow: hidden;
  background: url('../img/sample2.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  background-attachment: fixed;
}

div#divider-three {
  width: 100%;
  height: 50%;
  overflow: hidden;
  background: url('../img/sample3.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  background-attachment: fixed;
}

div#divider-four {
  width: 100%;
  height: 50%;
  overflow: hidden;
  background: url('../img/sample4.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  background-attachment: fixed;
}

/* Landing Section Styles */

#landingSection {
  height: 100%;
  width: 100%;
  padding-top: 10%;
  background: url('../img/portal-building-lighter.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  position: relative;
  overflow: hidden;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

#dap {
  position: absolute;
  z-index: 0;
  width: 100px;
  top: 10px;
  left: 40px;
}

#landingLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -7%;
}

#landingSection .registerButton {
  margin-right: 30px;
}

#landingSection .sponsorButton {
  margin-left: 30px;
}

/* Navigation Styles */

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: white;
}

#navHackLogo {
  width: 22%;
  margin-left: 10%;
  margin-top: 1%;
}

/* Sponsor Style */

#sponsorSection {
  padding-bottom: 10%;
}

/* Tracks Styles */

#tracksSection figure {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 30%;
  padding-right: 4%;
  vertical-align: top;
}

#tracksSection figure:last-of-type {
  padding-right: 0 !important;
}

#tracksSection figure img {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#tracksSection figure figcaption h3 {
  text-align: center;
}

/* Perks Styles */

#perksSection figure {
  height: 375px;
  color: white;
  background-color: #006633;
  display: inline-block;
  margin: 0;
  padding: 3%;
  width: 17%;
  padding-right: 4%;
  vertical-align: top;
  overflow: hidden;
  box-shadow: inset 0 -215px 0 0 rgba(225, 225, 225, 0.2);
}

#perksSection figure img {
  max-width: 100%;
}

#perksSection figure figcaption h3 {
  text-align: center;
}

/* Registration Styles */

#registerSection {
  clear: both;
}

#registerSection .registerButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Sponsor Styles */

#sponsorSection .sponsorButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sponsorLogoSection {
  background-color: #006633;
  color: white;
  width: 100%;
  padding-bottom: 10%;
  padding-top: 2%;
}

.allyLogo {
  height: 325px;
  padding-left: 20px;
  display: inline-block;
}

.allyLogo:first-of-type, .allyLogo:nth-child(4n) {
  margin-left: 23.5%;
}

.collaboratorLogo {
  height: 200px;
  padding-left: 20px;
  padding-bottom: 20px;
  display: inline-block;
}

.collaboratorLogo:first-of-type, .collaboratorLogo:nth-child(6n) {
  margin-left: 16.25%;
}

.advocateLogo {
  height: 150px;
  padding-left: 20px;
  padding-bottom: 20px;
  display: inline-block;
}

.advocateLogo:first-of-type, .advocateLogo:nth-child(7n) {
  margin-left: 17.5%;
}

/* Footer Styles */

footer {
  background-color: #006633;
  width: 100%;
  overflow: hidden;
  clear: both;
  padding-bottom: 20px;
}

footer p:first-of-type,
footer p:last-of-type {
  margin: 0;
}

footer .column {
  float: left;
  color: white;
  margin-top: 20px;
  padding: 10px;
  border-left: 2px solid white;
}

footer .firstColumn {
  margin-left: 10%;
}

footer .secondColumn {
  margin-left: 25%;
}

footer .thirdColumn {
  margin-left: 15%;
}

footer a {
  color: white;
}

#dapFooter {
  width: 100px;
}
